<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="BgetWpf.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1"/>
    </startup>
    <userSettings>
        <BgetWpf.Properties.Settings>
            <setting name="PreferFlv" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="PreferMp4" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="PreferHighQuality" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="PreferMediumQuality" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="PreferLowQuality" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="AutoDecideConcurrentTask" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="ManualConcurrentTask" serializeAs="String">
                <value />
            </setting>
            <setting name="MaxConnPerServer" serializeAs="String">
                <value>15</value>
            </setting>
            <setting name="SplitPerTask" serializeAs="String">
                <value>15</value>
            </setting>
            <setting name="DiskCache" serializeAs="String">
                <value>32</value>
            </setting>
            <setting name="GlobalUploadLimit" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="GlobalDownloadLimit" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="DownloadPath" serializeAs="String">
                <value />
            </setting>
            <setting name="EnableDht" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="EnablePex" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="EnableLpd" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="EnableEncrypt" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="ForceEncrypt" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="CheckBeforeSeed" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="SeedWhenBroken" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="PeerIdPerfix" serializeAs="String">
                <value>-UT341-</value>
            </setting>
            <setting name="TorrentUserAgent" serializeAs="String">
                <value>uTorrent/341(109279400)(30888)</value>
            </setting>
            <setting name="TorrentPort" serializeAs="String">
                <value>25236</value>
            </setting>
            <setting name="MaxPeers" serializeAs="String">
                <value>500</value>
            </setting>
            <setting name="SeedRatio" serializeAs="String">
                <value>0.0</value>
            </setting>
            <setting name="UseBundledAria" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="UseExternalAria" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Architecture" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="ExternalRpc" serializeAs="String">
                <value>http://localhost:6800/jsonrpc</value>
            </setting>
            <setting name="ExtraCmdArgs" serializeAs="String">
                <value />
            </setting>
            <setting name="DefaultUserAgent" serializeAs="String">
                <value>Mozilla/5.0 (compatible; MSIE 10.0; Windows NT 6.1; Trident/6.0)</value>
            </setting>
        </BgetWpf.Properties.Settings>
    </userSettings>
</configuration>
